<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head.ejs') %>

  <body>
    <%- include('../partials/nav.ejs') %>

    <div class="about content">
      <h2>About Us</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga recusandae
        sint eligendi corporis aliquam quam? Distinctio aspernatur dolor in
        minus soluta cumque unde eligendi modi molestias, libero ipsa illum
        quae?
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga recusandae
        sint eligendi corporis aliquam quam? Distinctio aspernatur dolor in
        minus soluta cumque unde eligendi modi molestias, libero ipsa illum
        quae?
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga recusandae
        sint eligendi corporis aliquam quam? Distinctio aspernatur dolor in
        minus soluta cumque unde eligendi modi molestias, libero ipsa illum
        quae?
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga recusandae
        sint eligendi corporis aliquam quam? Distinctio aspernatur dolor in
        minus soluta cumque unde eligendi modi molestias, libero ipsa illum
        quae?
      </p>
    </div>

    <%- include('../partials/footer.ejs') %>
  </body>
</html>
